content {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(6, 1fr);

  margin-top: 30px;
  gap: 20px;
}

content a {
    text-decoration: none;
    color: var(--second);
}
